// html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, nav, section, menu, time, mark, audio, video, canvas
//   margin 0
//   padding 0
//   border 0
//
// .container
//   font-size: 100%
//
// section
//   display block
//   float left
//   margin 0
//   overflow hidden
//   padding 0
//   width 100%
//
// .site-width
//   display block
//   float left
//   margin 0 auto
//   width: 100%
//
// .copy-width
//   display block
//   position relative
//   margin 0 auto
//   background #333
//
// .copy-inside
//   display inline-block
//
// section:before,
// section:after
//   height $g1
//   margin 0 auto
//
// figure
//   margin-right $g1
//   float left
//   background #ccc
//
// .mr0
//   margin-right 0
