/////////////////////////////////
// GRID SETTINGS
/////////////////////////////////

$font-size = 18 // Your base font-size in pixels (18 seems to work across all browsers)
$em = $font-size / 1rem	// Shorthand for outputting ems
$column = 48	// The column-width of your grid in pixels
$gutter = 24 // The width of the horizontal gutter
$gutter-y = 24 // The height of the vertical gutter
$max-copy-width = 20 // The widest the site can get

// Zone Gutters
$gx-A = 24
$gy-A = 24
$gs-A = 2

$gx-B = 28
$gy-B = 28
$gs-B = 2

$gx-C = 24
$gy-C = 24
$gs-C = 1

$gx-D = 22
$gy-D = 20
$gs-D = .5

$gx-E = 12
$gy-E = 24
$gs-E = .25


/////////////////////////////////
// GRID Ratio Settings (Denominator)
// Zone Numerators array ( 1/ $ratio)
/////////////////////////////////

// Development - Include all Ratios
$ratio-range = (1..20)

$numerators-A = (A 1) (A 2) (A 3) (A 4)
$numerators-B = (B 1) (B 2) (B 3)
$numerators-C = (C 1) (C 2) (C 3)
$numerators-D = (D 1) (D 2) (D 3)
$numerators-E = (E 1) (E 2) (E 3)

/////////////////////////////////
// Dist - Include only the ratios you need
// N keeps numerators working as an array
/////////////////////////////////

// $ratio-range = 2 4 6 8 16 18

// $numerators-A = (N 1) (A 1) (A 2)
// $numerators-B = (N 1) (B 1)
// $numerators-C = (N 1) (C 1)
// $numerators-D = (N 1) (D 1)
// $numerators-E = (N 1) (E 1)


/////////////////////////////////
// ZONE/BREAKPOINT SETTINGS
/////////////////////////////////

$zone-a-max = $max-copy-width
$zone-a-min = 15

$zone-b-max = 14
$zone-b-min = 12

$zone-c-max = 11
$zone-c-min = 10

$zone-d-max = 9
$zone-d-min = 8

$zone-e-max = 7
$zone-e-min = 4

// More zones can be added (who knows what will come out in 5 years)
// $zone-f-min = 6
// $zone-f-min = 4

// $zone-g-min = 6
// $zone-g-min = 4


//////////////////////////////////////////////////////////////////////
// FRAMLESS GRID SETTINGS - Joni Korpi - http://framelessgrid.com/
/////////////////////////////////////////////////////////////////////
$cols1 = (1 * ($column + $gutter) - $gutter) / $em

// Virtical & Horizontal Gutter Size
$gx = (($gutter) / $em)rem
$gy = (($gutter-y) / $em)rem

// Zone Gutters (rem)
$gxA = (($gx-A) / $em)rem
$gyA = (($gy-A) / $em)rem
$gxB = (($gx-B) / $em)rem
$gyB = (($gy-B) / $em)rem
$gxC = (($gx-C) / $em)rem
$gyC = (($gy-C) / $em)rem
$gxD = (($gx-D) / $em)rem
$gyD = (($gy-D) / $em)rem
$gxE = (($gx-E) / $em)rem
$gyE = (($gy-E) / $em)rem

$gxa = (($gx-A) / $em)rem
$gya = (($gy-A) / $em)rem
$gxb = (($gx-B) / $em)rem
$gyb = (($gy-B) / $em)rem
$gxc = (($gx-C) / $em)rem
$gyc = (($gy-C) / $em)rem
$gxd = (($gx-D) / $em)rem
$gyd = (($gy-D) / $em)rem
$gxe = (($gx-E) / $em)rem
$gye = (($gy-E) / $em)rem

//spacer/Shiv - margin rythem
$spacer = $gx
$sx = $gx
$sy = $gy


$s1 = ($spacer / 1)
$s2 = ($spacer / 2)
$s3 = ($spacer / 3)
$s4 = ($spacer / 4)
$s5 = ($spacer / 5)
$s6 = ($spacer / 6)
$s7 = ($spacer / 7)
$s8 = ($spacer / 8)
$s9 = ($spacer / 9)
$s10 = ($spacer / 10)

//////////////////////////////////////////////////////////////////////
// ZONE Breakpoints
/////////////////////////////////////////////////////////////////////

zone($zone)
  // if $zone == mobile-menu
  //   @media (min-width: ($zone-e-min * ($column + $gutter) - $gutter) / $em) and (max-width: ($mobile-max * ($column + $gutter) - $gutter) / $em)
  //     {block}

  // ZONE E
  if $zone == E
    @media (min-width: (($zone-e-min * ($column + $gutter) - $gutter) / $em)rem) and (max-width: (($zone-d-min * ($column + $gutter) - $gutter) / $em)rem)
      {block}

  if $zone == D
    @media (min-width: (($zone-d-min * ($column + $gutter) - $gutter) / $em)rem) and (max-width: (($zone-c-min * ($column + $gutter) - $gutter) / $em)rem)
      {block}

  if $zone == C
    @media (min-width: (($zone-c-min * ($column + $gutter) - $gutter) / $em)rem) and (max-width: (($zone-b-min * ($column + $gutter) - $gutter) / $em)rem)
      {block}

  if $zone == B
    @media (min-width: (($zone-b-min * ($column + $gutter) - $gutter) / $em)rem) and (max-width: (($zone-a-min * ($column + $gutter) - $gutter) / $em)rem)
      {block}

  if $zone == A
    @media (min-width: (($zone-a-min * ($column + $gutter) - $gutter) / $em)rem)
      {block}

  // else
  //   @media (min-width: $zone)
  //     {block}


/////////////////////////////////
// Functions
/////////////////////////////////

// Copy Width - Ratios are based on this width
poxy-copy-width($zone-min, $zone-max, $gx, $gy, $gs)
  for i in ($zone-min..$zone-max)
    .cw
      @media (min-width: ((i * ($column + $gx) - $gx) / $em)rem)
          width: (((((i - ($gs)) * ($column + $gx) - $gx) / $em) + (($gx) / $em))rem)
          figure
            margin-left (($gx) / $em)rem
            margin-bottom (($gy) / $em)rem

//
poxy-scale($i, $scale, $x1, $x2, $zone-gutter, $gs)
  // if $i <= $zone-e-max
  //   return ((((($i - $gs)*$x1)/$x2) * ($column + $zone-gutter) - $zone-gutter) / $em)rem
  // else
    return ((((($i - $gs)*$x1)/$x2) * ($column + $zone-gutter) - $zone-gutter) / $em)rem

//  Box Width
poxy-zone-width($zone, $zone-class-lower, $zone-min, $zone-max, $numerators, $zone-gutter, $gs)
  for $i in ($zone-min..$zone-max)
    for $size in $numerators
      if $size[0] == $zone
        for $i in ($zone-min..$zone-max)
          @media (min-width:(($i * ($column + $zone-gutter) - $zone-gutter) / $em)rem)
            for $i2 in $ratio-range
              \[class\*\={$zone-class-lower}{$size[1]}{$i2}\]
                 width poxy-scale($i, $size[0], $size[1], $i2, $zone-gutter, $gs)

// Box Height
poxy-zone-height($zone, $zone-class-lower, $zone-min, $zone-max, $numerators, $zone-gutter, $gs)
  for $i in ($zone-min..$zone-max)
    for $size in $numerators
      if $size[0] == $zone
        for $i in ($zone-min..$zone-max)
          @media (min-width:(($i * ($column + $zone-gutter) - $zone-gutter) / $em)rem)
            for $i2 in $ratio-range
              \[class\*\={$zone-class-lower}\_{$size[1]}{$i2}\]
                 height poxy-scale($i, $size[0], $size[1], $i2, $zone-gutter, $gs)




//////////////////////////////////////////////////////
// Reset
//////////////////////////////////////////////////////
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, nav, section, menu, time, mark, audio, video, canvas
  margin 0
  padding 0
  border 0

*
  box-sizing border-box





// Get custom zone copy widths based on gutter settings
poxy-copy-width($zone-e-min, $zone-e-max, $gx-E, $gy-E, $gs-E)
poxy-copy-width($zone-d-min, $zone-d-max, $gx-D, $gy-D, $gs-D)
poxy-copy-width($zone-c-min, $zone-c-max, $gx-C, $gy-C, $gs-C)
poxy-copy-width($zone-b-min, $zone-b-max, $gx-B, $gy-B, $gs-B)
poxy-copy-width($zone-a-min, $zone-a-max, $gx-A, $gy-A, $gs-A)


// Default
// .cw, .pcw, .qcw
//   for i in (8..$max-copy-width)
//     @media (min-width: ((i * ($column + $gutter) - $gutter) / $em)rem)
//         width: (((((i - 2) * ($column + $gutter) - $gutter) / $em) + $gx)rem)
//
// .cw > *
//   for i in (1..$max-copy-width)
//     @media (min-width: ((i * ($column + $gutter) - $gutter) / $em)rem)
//         width: (((((i - 2) * ($column + $gutter) - $gutter) / $em))rem)

.cw0 > *
  margin-left 0
  margin-right -($gxA)





//////////////////////////////////////////////////////
// Container(div) Ratio Sizes
//////////////////////////////////////////////////////
// Get Width Classes
poxy-zone-width(E, e, $zone-e-min, $zone-e-max, $numerators-E, $gx-E, $gs-E)
poxy-zone-width(D, d, $zone-d-min, $zone-d-max, $numerators-D, $gx-D, $gs-D)
poxy-zone-width(C, c, $zone-c-min, $zone-c-max, $numerators-C, $gx-C, $gs-C)
poxy-zone-width(B, b, $zone-b-min, $zone-b-max, $numerators-B, $gx-B, $gs-B)
poxy-zone-width(A, a, $zone-a-min, $zone-a-max, $numerators-A, $gx-A, $gs-A)

// Get Hight Classes
poxy-zone-height(E, e, $zone-e-min, $zone-e-max, $numerators-E, $gx-E, $gs-E)
poxy-zone-height(D, d, $zone-d-min, $zone-d-max, $numerators-D, $gx-D, $gs-D)
poxy-zone-height(C, c, $zone-c-min, $zone-c-max, $numerators-C, $gx-C, $gs-C)
poxy-zone-height(B, b, $zone-b-min, $zone-b-max, $numerators-B, $gx-B, $gs-B)
poxy-zone-height(A, a, $zone-a-min, $zone-a-max, $numerators-A, $gx-A, $gs-A)


//////////////////////////////////////////////////////
// Section negative margin Offset
////////////////////////////////////////////////////
zone-core($z, $zone-min, $gx, $gy)
  @media (min-width: (($zone-min * ($column + $gutter) - $gutter) / $em)rem)
    .ha
      display none !important
    [class*=poxy{$z}]
      float left
    [class*=qoxy{$z}]
      float right
    [class*=paxy{$z}]
      position absolute
      top 0
      left 0
    [class*=qaxy{$z}]
      position absolute
      top 0
      right 0
    [class*=baxy{$z}]
      position absolute
      bottom 0
      left 0
    [class*=daxy{$z}]
      position absolute
      bottom 0
      right 0
    section
      margin-left: -($gx/2)
      margin-top: 0
      &:first-child
        //margin-top: ($gyA/2) !important
        margin-top: 0 !important
      // &:last-child
      //   margin-bottom: -($gyA) !important
      &:after
        margin-top: -($gy) !important
      .cw0
        margin-bottom: ($gy) !important
        margin-right: -($gy) !important

    footer
      padding-top: ($gy) !important

    // Percent Width
    [class*={$z}p11]
      width 100%
    [class*={$z}p34]
      width 75%
    [class*={$z}p12]
      width 50%
    [class*={$z}p25]
      width 40%
    [class*={$z}p14]
      width 25%
    [class*={$z}p15]
      width 20%
    [class*={$z}p23]
      width 66.6666666%
    [class*={$z}p13]
      width 33.3333333%

    // Percent Height
    [class*={$z}p_11]
      height 300%
    [class*={$z}p_11]
      height 100%
    [class*={$z}p_34]
      height 75%
    [class*={$z}p_12]
      height 50%
    [class*={$z}p_25]
      height 40%
    [class*={$z}p_14]
      height 25%
    [class*={$z}p_15]
      height 20%
    [class*={$z}p_23]
      height 66.6666666%
    [class*={$z}p_13]
      height 33.3333333%




zone-core(e, $zone-e-min, $gxe, $gye)
zone-core(d, $zone-d-min, $gxd, $gyd)
zone-core(c, $zone-c-min, $gxc, $gyc)
zone-core(b, $zone-b-min, $gxb, $gyb)
zone-core(a, $zone-a-min, $gxa, $gya)




//////////////////////////////////////////////////////
// POXY
////////////////////////////////////////////////////

// fixed
.pfxy
  position fixed
  top 0
  left 0

.bfxy
  position fixed
  bottom 0
  left 0

// Float
.poxy,
.boxy
  float left

.qoxy,
.doxy
  float right


// Absolute
.paxy,
.pa,
.qaxy,
.baxy,
.daxy
  position absolute !important
.paxy
  left 0
.qa
  right 0
.qoxy
  right 0
.daxy
  bottom 0
.baxy
  bottom 0



//////////////////////////////////////
// No Zone Percent
//////////////////////////////////////

// // Width
// [class*="p_31"]
//   width 300%
// [class*="p_11"]
//   width 100%
// [class*="p_34"]
//   width 75%
// [class*="p_12"]
//   width 50%
// [class*="p_25"]
//   width 40%
// [class*="p_14"]
//   width 25%
// [class*="p_15"]
//   width 20%
// [class*="p_23"]
//   width 66.6666666%
// [class*="p_13"]
//   width 33.3333333%
//
// // Height
// [class*="p31"]
//   width:300%
// [class*="p11"]
//   height 100%
// [class*="p34"]
//   height 75%
// [class*="p12"]
//   height 50%
// [class*="p25"]
//   height 40%
// [class*="p14"]
//   height 25%
// [class*="p15"]
//   height 20%
// [class*="p23"]
//   height 66.6666666%
// [class*="p13"]
//   height 33.3333333%



//////////////////////////////////////////////////////////////////////
// OXY Classes
///////////////////////////////////////////////////////////////////
.oxy
  translate(50%, -50%)
  position absolute
  right 50%
  top 50%
  z-index 999

.ox
  translate(0%, -50%)
  left 0
  position absolute
  top 50%
  z-index 999

.ox_
  translate(0%, -50%)
  position absolute
  right 0
  top 50%
  z-index 999

.oy
  position absolute
  right 50%
  top 0
  z-index 999
  translate(50%, 0%)


.oy_6
  translate(50%, 0%)
  position absolute
  right 50%
  top 0
  z-index 999

.oxy12,
.oxy1,
.oxy2,
.oxy3,
.oxy4,
.oxy5,
.oxy6,
.oxy7,
.oxy8,
.oxy9,
.ox10,
.oxy11,
  position absolute


.oxy12
  translate(50%, 0%)
  right 50%

.oxy1
  translate(50%, 0%)
  right 25%
  top 0

.oxy2
  translate(0%, -50%)
  right 0%
  top 25%

.oxy3
  translate(0%, -50%)
  right 0%
  top 50%

.oxy4
  translate(0%, -50%)
  right 0% top 75%

.oxy5
  translate(50%, 0%)
  bottom 0%
  right 25%

.oxy6
  translate(50%, 0%)
  bottom 0%
  right 50%

.oxy7
  translate(50%, 0%)
  bottom 0%
  right 75%

.oxy8
  translate(0%, -50%)
  left 0%
  top 75%

.oxy9
  translate(0%, -50%)
  left 0%
  top 50%

.oxy10
  translate(0%, 50%)
  left 0%
  top 25%

.oxy11
  translate(-50%, 0%)
  left 25%
  top 0%




//////////////////////////////////////////////////////
// z-index
////////////////////////////////////////////////////

.z1
  z-index 1
.z2
  z-index 2
.z3
  z-index 3
.z4
  z-index 4
.z5
  z-index 5
.z6
  z-index 6


//////////////////////////////////////////////////////
// DEV
////////////////////////////////////////////////////
.hide
  display none !important
.red
  background red
.logo
  background-size cover
.bg0
  background transparent !important
.bg10
  background-color darken(#fff, 10%) !important
.bg20
  background-color darken(#fff, 20%) !important
.bg30
  background-color darken(#fff, 30%) !important
.bg40
  background-color darken(#fff, 40%) !important
.bg50
  background-color darken(#fff, 50%) !important
.bg60
  background-color darken(#fff, 60%) !important
.bg70
  background-color darken(#fff, 70%) !important
.bg80
  background-color darken(#fff, 80%) !important
.bg90
  background-color darken(#fff, 90%) !important
.bg100
  background-color darken(#fff, 100%) !important
//////////////////////////////////////////////////////
// COMMON
////////////////////////////////////////////////////
.cb
  clear both
  display block
  font-size 0
  height 0
  line-height 0
  width 100%

section.clear
  margin-bottom 0 !important
  &:after,
  &:before
    display none !important
  .sw
    margin-bottom 0 !important
    &:after,
    &:before
      display none !important

section.full
  margin-left 0 !important

.mb0
  margin-bottom 0 !important



//////////////////////////////////////////////////////
// CORE
////////////////////////////////////////////////////

.container
  font-size: 100%

section
  display block
  float left
  overflow hidden
  padding 0
  width 100%

.sw // site-width
  display block
  float left
  margin 0 auto
  width: 100%
  position relative

.cw // copy-widt
  position relative
  background #666
  margin 0 auto

.cw0
  width 100%
  float left

.copy-inside
  display inline-block

section:before,
section:after
  //margin 0 auto
  float right
  width 100%
  background alpha(#fff, .1)
  content:""

// section:before
//   border-top alpha(#fff, .2) solid 1px
//
// section:after
//   border-bottom alpha(#fff, .2) solid 1px

figure
  float left
  width 100%

.mr0
  margin-right 0


//////////////////////////////////////////////////////
// Box Styling
////////////////////////////////////////////////////

header
  float left
  width 100%

#meat
  float left
  width 100%

footer
  float left
  width 100%

//////////////////////////////////////////////////////////////////////
// Meat
/////////////////////////////////////////////////////////////////////
.container
  padding:0;
  display:block;
  //background-color:$container_bg;

  section .site-width:before
  section .site-width:after
    height $sy
    float:left
    width:100%
    content:""


  section:before
    //border-top 0px solid #ccc
    //border-bottom: 1px solid #fff;
    //height 1px
    display block
    content ""


  //section .site-width{background:rgba(0,0,0, 1) !important; }
  //section .site-width:before{background:rgba(0,0,0, .3) !important; float:left;}
  section:nth-child(1):before
    width 100% !important

  section:nth-child(2):before
    width:100% !important

  //section:first-child:before, section:first-child:after{height:0;}
  //section:last-child .site-width:after{margin-top:$cols1 !important;}

//#meat:first-child section:first-child:after{width:100% !important}

.container:after
footer:after
     visibility hidden
     display block
     font-size 0
     content ""
     clear both
     height 0



/////////////////////////////////
// ZONE COLORS
/////////////////////////////////
$zone-a-color = #00bcd4
$zone-b-color = #5677fc
$zone-c-color = #ffc107
$zone-d-color = #a6e22a
$zone-e-color = #e0276f
$zone-f-color = #10e277






//////////////////////////////////////////////////////////////////////
// Deve Zone Styles
/////////////////////////////////////////////////////////////////////

section:before
  border-top alpha(#fff, .2) solid 1px

section:after
  border-bottom alpha(#fff, .2) solid 1px

.poxy-dev span
  font-size .8em
  padding $s4
  float left
  width $cols1
  height $cols1
  +zone(E)
    background $zone-e-color
    color #fff
  +zone(D)
    background $zone-d-color
    color #fff
  +zone(C)
    background $zone-c-color
    color #fff
  +zone(B)
    background $zone-b-color
    color #000
  +zone(A)
    background $zone-a-color
    color #000

  &:before
    +zone(E)
      content 'E '
    +zone(D)
      content 'D '
    +zone(C)
      content 'C '
    +zone(B)
      content 'B '
    +zone(A)
      content 'A '


.poxy_dev li:first-child a
  line-height 2em

.poxy_dev li:first-child a:before
  font-family sans-serif
  font-size 55%
  letter-spacing .12em
  position absolute
  text-transform uppercase
  top 40%

figure
  +zone(E)
    background-color $zone-e-color
    color #fff
  +zone(D)
    background-color $zone-d-color
    color #fff
  +zone(C)
    background-color $zone-c-color
    color #fff
  +zone(B)
    background-color $zone-b-color
    color #000
  +zone(A)
    background-color $zone-a-color
    color #000
