@import 'poxy-vars'
.container
  font-size: 100%

section
  display block
  float left
  margin 0
  overflow hidden
  padding 0
  width 100%

.site-width
  display block
  float left
  margin 0 auto
  width: 100%

.copy-width
  display block
  position relative

.copy-inside
  display inline-block

.copy-width,
section:before,
section:after
  margin 0 auto

figure
  float left
