include mixins/mixin-lorem-ipsum.jade
include mixins/placeholder-image.jade

#meat
  section.clear.full
    div.sw
      div.cw
        figure(style='background-image: url(images/about-banner.jpg);').ap11a_12b_12c_12d_12e_12.bg100
    

  //- section.dark.shadow.bg-a
  //-   div.sw
  //-     div.cw
  //-       figure.a13a_13b13b_13c14c_13d13d_13e13e_13
  //-         span(style='background-image: url(http://placehold.it/300x200/999999);').oxy.a310a_310b310b_310c310c_310d310d_310e310e_310
  //-         span.oxy.a310a_310b310b_310c310c_310d310d_310e310e_310
  //-         span.paxyap11ap_11
  //-       figure.a13a_13b13b_13c14c_13d13d_13e13e_13
  //-         span.oxy.a310a_310b310b_310c310c_310d310d_310e310e_310
  //-         span.paxyap11ap_11
  //-       figure.a13a_13b13b_13c14c_13d13d_13e13e_13
  //-         span.oxy.a310a_310b310b_310c310c_310d310d_310e310e_310
  //-         span.paxyap11ap_11
  
  section
    div.sw
      div.cw
        figure.poxa12b12b_18c12c_18d11d_18poxe11
          h2 INSPIRATION
        
        figure.poxa12b12b_18c12c_18d11d_18poxe11
          p We love breakfast. And not just the food, but all that encompasses “breakfast time” — fresh coffee, the newspaper, a wholesome breakfast, the moments before the day takes hold. Our inspiration for Seven Sundays muesli came to us during a trip to New Zealand where we were immersed into one of the most admirable cultures in the world. “Kiwis”, as native New Zealanders are often called, live active, sustainable lifestyles built upon enjoying simple pleasures and making the most out of their treasured and limited natural resources. One of our favorite parts of the trip was starting each day with a bowl of fresh, homemade toasted muesli, a popular New Zealand breakfast. We so much enjoyed this simple but gourmet breakfast staple that we were determined to give breakfast in the U.S. a facelift. So, we started making our own hearty, gourmet muesli using our favorite combinations from New Zealand and adding our own special twists. We hope you enjoy! -Hannah & Brady

          p The name “Seven Sundays”?  Well, for us, breakfast is more than a meal, it’s a time.  A time to enjoy fresh coffee, the newspaper and the moments before the day takes hold – like a Sunday morning.  We want our mueslis to be a reminder to enjoy breakfast time on Sunday and every day of the week.

  section
    div.sw
      div.cw
        figure.poxa12b12b_18c12c_18d11d_18poxe11
          h2 OUR MISSION
        
        figure.poxa12b12b_18c12c_18d11d_18poxe11
          p Seven Sundays’ mission is to promote healthy and enjoyable morning routines so that more people start their day feeling relaxed, energized and satisfied. We create gourmet breakfast foods that taste homemade and use only all natural, super healthy ingredients. We measure success beyond our products, so we continuously work to better our employees, the environment and the communities around us.
          p We have always been particularly picky when it comes to the food we make in our home kitchen. Along with using real, fresh and healthy ingredients whenever possible, we also think a little extra effort—like using unique flavors and homemade recipes—goes a long way to making a meal “special”. Food should be enjoyed not just eaten. We carry our “kitchen standards” to all our mueslis. For us, it’s all just common sense.

  section
    div.sw
      div.cw
        figure.poxa12b12b_18c12c_18d11d_18poxe11
          h1 Heading 1
          h2 Heading 2
          h3 Heading 3
          h4 Heading 4
          h5 Heading 5
          h6 Heading 6

        figure.poxa12b12b_18c12c_18d11d_18poxe11
          h1.tera Tera
          h1.giga Giga
          h1.mega Mega
          h1.alpha Alpha
          h1.beta Beta
          h1.gamma Gamma
          h1.delta Delta
          h1.epsilon Epsilon
          h1.zeta Zeta

        figure.poxa12poxb12poxc11poxd11poxe11
          p
            +lipsum(100, "words")
          p
            +lipsum(100, "words")

        figure.poxa12poxb12poxc11poxd11poxe11
          p
            +lipsum(100, "words")
          p
            +lipsum(100, "words")



  //- section.dark.shadow
  //-   div.sw
  //-     div.cw
  //-       figure.a14a_18b14b_18c14c_18d14d_18e12e_12
  //-         p
  //-           +lipsum(8, "words")
  //-         span.paxyap11ap_11
  //-       figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2
  //-         span.paxyap11ap_11
  //-       figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2
  //-         span.paxyap11ap_11
  //-       figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2
  //-         span.paxyap11ap_11
