include mixins/mixin-lorem-ipsum.jade
include mixins/placeholder-image.jade

section.clear.full
  div.sw
    div.cw
      figure(style='background-image: url(http://placehold.it/1900x500/cccccc&text=Banner);').ap11a_12b_12c_12d_12e_12.bg100
  
section
  div.sw
    div.cw.tx-c
      h3.mega Blog
        
        

                
                
                
                
                
