//- section.pfxy.red.a14b14c14d14.hide
//-   div.sw
//-     div.a14b14
//-       figure.a118a_118

section
  div.sw
    div.cw0
      figure.a11a_116
      figure.paxa11a_116


section
  div.sw
    div.cw0
      figure.a_110.b18b_116.c_116
      figure.paxya18a_110.paxyb18b_116.c_116
      figure.qaxya12a_110.qaxyb12b_116.c_116


section
  div.sw
    div.cw
      figure.a11a_12.b11b_12.c_12



section
  div.sw
    div.cw
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2


section
  div.sw
    div.cw
      figure.a14a_118b14b_118c14c_118d14d_118e14e_118 1/2
      figure.a14a_118b14b_118c14c_118d14d_118e14e_118 1/2
      figure.a14a_118b14b_118c14c_118d14d_118e14e_118 1/2
      figure.a14a_118b14b_118c14c_118d14d_118e14e_118 1/2

section
  div.sw
    div.cw
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2

section
  div.sw
    div.cw
      figure.a11a_116
