include mixins/mixin-lorem-ipsum.jade
include mixins/placeholder-image.jade

//- section.clear.pfxy.a13ap_11b13bp_11c14d14.z20.bg50.ml0
//-   div.sw
//-     div.cw0
//-       figure.logo.poxya13a_18.poxyb13b_18
//-         h2.oxy
//-       nav.poxa14
//-         a(href="#").poxya13a_18.poxyb13b_18.bg90.mt0
//-           span.oxy button
//-         a(href="#").poxya13a_18.poxyb13b_18.bg90.mt0
//-           span.oxy button
//-         a(href="#").poxya13a_18.poxyb13b_18.bg90.mt0
//-           span.oxy button
//-         a(href="#").poxya13a_18.poxyb13b_18.bg90.mt0
//-           span.oxy button

#meat
  section.clear.full
    div.sw
      //- span.shadow.oxy.ap11ap_11b313b_313c313c_313d313d_313e313e_313
      div.cw
        slick(asNavFor=".main-banner-tabs").main-banner.mb0
          div.dark
            figure(style='background-image: url(images/banner-1.jpg);').ap11a_23b_12c_12d_12e_12.mb0.ml0.bg-tc
              span.oxy.tx-c
                h1.giga Leave your Oatmeal
                h1.giga in the dust!
          div
            figure(style='background-image: url(http://placehold.it/1900x500/111111&text=slide-2);').ap11a_23b_12c_12d_12e_12.mb0.ml0
              span
          div
            figure(style='background-image: url(http://placehold.it/1900x500/111111&text=slide-3);').ap11a_23b_12c_12d_12e_12.mb0.ml0
              span
          div
            figure(style='background-image: url(http://placehold.it/1900x500/111111&text=slide-4);').ap11a_23b_12c_12d_12e_12.mb0.ml0
            
          div
            figure(style='background-image: url(http://placehold.it/1900x500/111111&text=slide-4);').ap11a_23b_12c_12d_12e_12.mb0.ml0
            
          div
            figure(style='background-image: url(http://placehold.it/1900x500/111111&text=slide-4);').ap11a_23b_12c_12d_12e_12.mb0.ml0
            
          div
            figure(style='background-image: url(http://placehold.it/1900x500/111111&text=slide-4);').ap11a_23b_12c_12d_12e_12.mb0.ml0


  section.clear.full
    div.sw
      div.cw
        slick(dots="true" asNavFor=".main-banner" infinite="false" speed="300" slides-to-show="4" touch-move="true" slides-to-scroll="1").main-banner-tabs
          div
            figure(style='border: solid 20px #fff; background-image: url(images/fixed-home.jpg);').ap11a_14b_18c_12d_12e_12.mb0.ml0
              span
          div
            figure(style='border: solid 20px #fff; background-image: url(http://placehold.it/1900x500/cccccc&text=Tab-2);').ap11a_14b_18c_12d_12e_12.mb0.ml0
              span
          div
            figure(style='border: solid 20px #fff; background-image: url(http://placehold.it/1900x500/cccccc&text=Tab-3);').ap11a_14b_18c_12d_12e_12.mb0.ml0
              span
          div
            figure(style='border: solid 20px #fff; background-image: url(http://placehold.it/1900x500/cccccc&text=Tab-4);').ap11a_14b_18c_12d_12e_12.mb0.ml0
              span
          div
            figure(style='border: solid 20px #fff; background-image: url(http://placehold.it/1900x500/cccccc&text=Tab-5);').ap11a_14b_18c_12d_12e_12.mb0.ml0
              span
          div
            figure(style='border: solid 20px #fff; background-image: url(http://placehold.it/1900x500/cccccc&text=Tab-6);').ap11a_14b_18c_12d_12e_12.mb0.ml0
              span
          div
            figure(style='border: solid 20px #fff; background-image: url(http://placehold.it/1900x500/cccccc&text=Tab-7);').ap11a_14b_18c_12d_12e_12.mb0.ml0
              span
    
  section
    div.sw
      div.cw.tx-c
        h4 Check Out
        h3.mega Our Products
        h5 Fall in Love With Breakfast again
                
  section.bg-contain
    div.sw
      div.cw
        slick(dots="true" infinite="false" speed="300" slides-to-show="4" touch-move="true" slides-to-scroll="1")
          div
            a(target="_blank" href='#/single-product')
              figure(style='background-image: url(images/product-demo.png);').ap11a_14b_18c_12d_12e_12.mb0.ml0
                span.oxy6 Muesli
          div
            a(target="_blank" href='#/single-product')
              figure(style='background-image: url(images/product-demo.png);').ap11a_14b_18c_12d_12e_12.mb0.ml0
                span.oxy6 Muesli
          div
            a(target="_blank" href='#/single-product')
              figure(style='background-image: url(images/product-demo.png);').ap11a_14b_18c_12d_12e_12.mb0.ml0
                span.oxy6 Muesli
          div
            a(target="_blank" href='#/single-product')
              figure(style='background-image: url(images/product-demo.png);').ap11a_14b_18c_12d_12e_12.mb0.ml0
                span.oxy6 Muesli
          div
            a(target="_blank" href='#/single-product')
              figure(style='background-image: url(images/product-demo.png);').ap11a_14b_18c_12d_12e_12.mb0.ml0
                span.oxy6 Muesli
          div
            a(target="_blank" href='#/single-product')
              figure(style='background-image: url(images/product-demo.png);').ap11a_14b_18c_12d_12e_12.mb0.ml0
                span.oxy6 Muesli
              
              
  section.bg-fixed.clear.dark
    div.sw
      span.shadow.oxy.ap11ap_11b313b_313c313c_313d313d_313e313e_313
      div.cw.z2
        //- figure.a12a_12b14b_14c14c_14d14d_14e12e_12

        figure.a11a_12b14b_14c14c_14d14d_14e12e_12.tx-v
          div
            h3.tera Fall In Love with Breakfast Again
            p
              +lipsum(50, "words")

        

  //- section.bg-wood
  //-   div.sw
  //-     div.cw
  //-       figure.a12a_12b14b_14c14c_14d14d_14e12e_12.bg10.br100
  //-         span(style='background-image: url(http://placehold.it/350x350/ffffff&text=Muesli);').oxy.ap90ap_90b313b_313c313c_313d313d_313e313e_313.br100
  //-         span.oxy.ap90ap_90b313b_313c313c_313d313d_313e313e_313.br100.shadow
  //-         span.paxyap11ap_11
  //-         h4.oxy Title
  //-       figure.a14a_14b14b_14c14c_14d14d_14e12e_12.bg10
  //-         span(style='background-image: url(http://placehold.it/350x350/333333&text=THUMB);').oxy.a313a_313b313b_313c313c_313d313d_313e313e_313
  //-         span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313
  //-         span.paxyap11ap_11
  //-         h4.oxy6 Title
  //-       figure.a14a_14b14b_14c14c_14d14d_14e12e_12.bg10
  //-         span(style='background-image: url(http://placehold.it/350x350/333333&text=THUMB);').oxy.a313a_313b313b_313c313c_313d313d_313e313e_313
  //-         span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313
  //-         span.paxyap11ap_11
  //-         h4.oxy6 Title
  //-       figure.a14a_14b14b_14c14c_14d14d_14e12e_12.bg10
  //-         span(style='background-image: url(http://placehold.it/350x350/333333&text=THUMB);').oxy.a313a_313b313b_313c313c_313d313d_313e313e_313
  //-         span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313
  //-         span.paxyap11ap_11
  //-         h4.oxy6 Title
  //-       figure.a14a_14b14b_14c14c_14d14d_14e12e_12.bg10
  //-         span(style='background-image: url(http://placehold.it/350x350/333333&text=THUMB);').oxy.a313a_313b313b_313c313c_313d313d_313e313e_313
  //-         span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313
  //-         span.paxyap11ap_11
  //-         h4.oxy Title

  //- section.clear.full
  //-   div.sw
  //-     div.cw
  //-       figure(style='background-image: url(http://placehold.it/1900x500/111111&text=Banner);').ap11a_12b_12c_12d_12e_12.bg100

  //- section.dark.shadow.bg-a
  //-   div.sw
  //-     div.cw
  //-       figure.a13a_13b13b_13c14c_13d13d_13e13e_13
  //-         span(style='background-image: url(http://placehold.it/300x200/999999);').oxy.a310a_310b310b_310c310c_310d310d_310e310e_310
  //-         span.oxy.a310a_310b310b_310c310c_310d310d_310e310e_310
  //-         span.paxyap11ap_11
  //-       figure.a13a_13b13b_13c14c_13d13d_13e13e_13
  //-         span.oxy.a310a_310b310b_310c310c_310d310d_310e310e_310
  //-         span.paxyap11ap_11
  //-       figure.a13a_13b13b_13c14c_13d13d_13e13e_13
  //-         span.oxy.a310a_310b310b_310c310c_310d310d_310e310e_310
  //-         span.paxyap11ap_11

  section
    div.sw
      div.cw
        figure.poxa12b12b_18c12c_18d11d_18poxe11
          h1 Heading 1
          h2 Heading 2
          h3 Heading 3
          h4 Heading 4
          h5 Heading 5
          h6 Heading 6

        figure.poxa12b12b_18c12c_18d11d_18poxe11
          h1.tera Tera
          h1.giga Giga
          h1.mega Mega
          h1.alpha Alpha
          h1.beta Beta
          h1.gamma Gamma
          h1.delta Delta
          h1.epsilon Epsilon
          h1.zeta Zeta

        figure.poxa12poxb12poxc11poxd11poxe11
          p
            +lipsum(100, "words")
          p
            +lipsum(100, "words")

        figure.poxa12poxb12poxc11poxd11poxe11
          p
            +lipsum(100, "words")
          p
            +lipsum(100, "words")



  //- section.dark.shadow
  //-   div.sw
  //-     div.cw
  //-       figure.a14a_18b14b_18c14c_18d14d_18e12e_12
  //-         p
  //-           +lipsum(8, "words")
  //-         span.paxyap11ap_11
  //-       figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2
  //-         span.paxyap11ap_11
  //-       figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2
  //-         span.paxyap11ap_11
  //-       figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2
  //-         span.paxyap11ap_11
