include mixins/mixin-lorem-ipsum.jade
include mixins/placeholder-image.jade

//- section.clear.pfxy.a13ap_11b13bp_11c14d14.z20.bg50.ml0
//-   div.sw
//-     div.cw0
//-       figure.logo.poxya13a_18.poxyb13b_18
//-         h2.oxy
//-       nav.poxa14
//-         a(href="#").poxya13a_18.poxyb13b_18.bg90.mt0
//-           span.oxy button
//-         a(href="#").poxya13a_18.poxyb13b_18.bg90.mt0
//-           span.oxy button
//-         a(href="#").poxya13a_18.poxyb13b_18.bg90.mt0
//-           span.oxy button
//-         a(href="#").poxya13a_18.poxyb13b_18.bg90.mt0
//-           span.oxy button

#meat
  section.clear.full
    div.sw
      //- span.shadow.oxy.ap11ap_11b313b_313c313c_313d313d_313e313e_313
      div.cw
        slick.main-banner.mb0
          div.dark
            figure(style='background-image: url(images/banner-1.jpg);').ap11a_23b_12c_12d_12e_12.mb0.ml0.bg-tc
              span.oxy.tx-c
                h1.giga Leave your Oatmeal
                h1.giga in the dust!
                
                button.mt1.ap11.ml0
                  a.pulse.oxy.a_118(href="#")
                    span.beta.oxy Check it Out
          div
            figure(style='background-image: url(http://placehold.it/1900x500/111111&text=slide-2);').ap11a_23b_12c_12d_12e_12.mb0.ml0
              span
          div
            figure(style='background-image: url(http://placehold.it/1900x500/111111&text=slide-3);').ap11a_23b_12c_12d_12e_12.mb0.ml0
              span
          div
            figure(style='background-image: url(http://placehold.it/1900x500/111111&text=slide-4);').ap11a_23b_12c_12d_12e_12.mb0.ml0
            
          div
            figure(style='background-image: url(http://placehold.it/1900x500/111111&text=slide-4);').ap11a_23b_12c_12d_12e_12.mb0.ml0
            
          div
            figure(style='background-image: url(http://placehold.it/1900x500/111111&text=slide-4);').ap11a_23b_12c_12d_12e_12.mb0.ml0
            
          div
            figure(style='background-image: url(http://placehold.it/1900x500/111111&text=slide-4);').ap11a_23b_12c_12d_12e_12.mb0.ml0
            
            
  section.featured-pages
    div.sw
      div.cw
        figure.poxya14a_14b14b_14c12c_14d12d_14e11e_14
          h4.beta.oxy6 About
          svg(preserveAspectRatio="xMinYMin meet" width="144" height="144" viewBox="0 0 144 144").icon.icon-cloud.stroked.oxy.a14a_14
            path(d="m 59.55,70.33 c 0,-4.4 6.7,-16.96 21.4,-16.96 14.7,0 21.25,12.66 21.25,16.76 m -38.07,4.1 c -6.41,-9.1 -22.1,-5.7 -23.93,6.6 -8.3,0 -12.01,5.5 -13.17,9.8 l 89.87,0 c 1.8,-7.8 -5.7,-24 -20.15,-19.9").long
            path(d="m 80.9,49.29 c -8.5,0 -15,3.75 -19.16,8.09 -2.57,2.71 -4.29,5.4 -5.29,8.04 -7.89,-1.05 -16.38,3.2 -19.32,11.6 -6.95,1.3 -12.2,6 -14.08,12.5 -0.76,2.6 1.21,5.19 3.93,5.19 l 89.92,0 c 1.9,0 3.6,-1.3 4,-3.2 1.5,-11.09 -5.5,-22.1 -15.2,-24.8 C 102.5,54.89 90.2,49.44 80.9,49.29 Z").long.virtual

        figure.poxya14a_14b14b_14c12c_14d12d_14e11e_14
          h4.beta.oxy6 Products
          svg(preserveAspectRatio="xMinYMin meet" width="144" height="144" viewBox="0 0 144 144" class="icon icon-serverstack-virtual stroked").icon.icon-cloud.stroked.oxy.a14a_14
            path(d="m 101.7,41.83 -58.76,0 m 58.76,16.25 -58.76,0 m 58.76,16.35 -58.76,0 m 58.76,16.2 -58.76,0 m 0,-49.01 11.02,-5 36.75,0 10.99,5 0,65.18 -58.76,0 z").long
            //-path(d="m 53.42,98.63 c 0,0.4 0.34,0.8 0.75,0.8 0.42,0 0.75,-0.4 0.75,-0.8 0,-0.4 -0.33,-0.7 -0.75,-0.7 -0.41,0 -0.75,0.3 -0.75,0.7 z m -3.32,0 c 0,0.4 -0.34,0.8 -0.75,0.8 -0.42,0 -0.75,-0.4 -0.75,-0.8 0,-0.4 0.33,-0.7 0.75,-0.7 0.41,0 0.75,0.3 0.75,0.7 z m 37.21,-4.2 3.3,0 0,8.47 -3.3,0 z m 9.5,0 -3.3,0 0,8.47 3.3,0 z M 53.42,82.53 c 0,0.4 0.34,0.7 0.75,0.7 0.42,0 0.75,-0.3 0.75,-0.7 0,-0.5 -0.33,-0.8 -0.75,-0.8 -0.41,0 -0.75,0.3 -0.75,0.8 z m -3.32,0 c 0,0.4 -0.34,0.7 -0.75,0.7 -0.42,0 -0.75,-0.3 -0.75,-0.7 0,-0.5 0.33,-0.8 0.75,-0.8 0.41,0 0.75,0.3 0.75,0.8 z m 37.21,-4.3 3.3,0 0,8.5 -3.3,0 z m 9.5,0 -3.3,0 0,8.5 3.3,0 z m -43.39,-12 c 0,0.4 0.34,0.7 0.75,0.7 0.42,0 0.75,-0.3 0.75,-0.7 0,-0.4 -0.33,-0.8 -0.75,-0.8 -0.41,0 -0.75,0.4 -0.75,0.8 z m -3.32,0 c 0,0.4 -0.34,0.7 -0.75,0.7 -0.42,0 -0.75,-0.3 -0.75,-0.7 0,-0.4 0.33,-0.8 0.75,-0.8 0.41,0 0.75,0.4 0.75,0.8 z m 37.21,-4.29 3.3,0 0,8.59 -3.3,0 z m 9.5,0 -3.3,0 0,8.59 3.3,0 z M 53.42,49.95 c 0,0.41 0.34,0.75 0.75,0.75 0.42,0 0.75,-0.34 0.75,-0.75 0,-0.41 -0.33,-0.75 -0.75,-0.75 -0.41,0 -0.75,0.34 -0.75,0.75 z m -3.32,0 c 0,0.41 -0.34,0.75 -0.75,0.75 -0.42,0 -0.75,-0.34 -0.75,-0.75 0,-0.41 0.33,-0.75 0.75,-0.75 0.41,0 0.75,0.34 0.75,0.75 z m 37.21,-4.26 3.3,0 0,8.52 -3.3,0 z m 9.5,0 -3.3,0 0,8.52 3.3,0 z").short
            path(d="m 53.97,32.5 a 4.105,4.105 0 0 0 -1.69,0.38 l -11.03,5 a 4.105,4.105 0 0 0 -2.41,3.74 l 0,65.18 a 4.105,4.105 0 0 0 4.1,4.1 l 58.76,0 a 4.105,4.105 0 0 0 4.1,-4.1 l 0,-65.18 a 4.105,4.105 0 0 0 -2.4,-3.74 l -10.99,-5 a 4.105,4.105 0 0 0 -1.7,-0.38 l -36.74,0 z" ).virtual
            
        figure.poxya14a_14b14b_14c12c_14d12d_14e11e_14
          h4.beta.oxy6 Products
          svg(preserveAspectRatio="xMinYMin meet" width="144" height="144" viewBox="0 0 144 144" class="icon icon-serverstack-virtual stroked").icon.icon-cloud.stroked.oxy.a14a_14
            path(d="m 101.7,41.83 -58.76,0 m 58.76,16.25 -58.76,0 m 58.76,16.35 -58.76,0 m 58.76,16.2 -58.76,0 m 0,-49.01 11.02,-5 36.75,0 10.99,5 0,65.18 -58.76,0 z").long
            path(d="m 53.97,32.5 a 4.105,4.105 0 0 0 -1.69,0.38 l -11.03,5 a 4.105,4.105 0 0 0 -2.41,3.74 l 0,65.18 a 4.105,4.105 0 0 0 4.1,4.1 l 58.76,0 a 4.105,4.105 0 0 0 4.1,-4.1 l 0,-65.18 a 4.105,4.105 0 0 0 -2.4,-3.74 l -10.99,-5 a 4.105,4.105 0 0 0 -1.7,-0.38 l -36.74,0 z" ).virtual
    
        figure.poxya14a_14b14b_14c12c_14d12d_14e11e_14
          h4.beta.oxy6 About
          svg(preserveAspectRatio="xMinYMin meet" width="144" height="144" viewBox="0 0 144 144").icon.icon-cloud.stroked.oxy.a14a_14
            path(d="m 59.55,70.33 c 0,-4.4 6.7,-16.96 21.4,-16.96 14.7,0 21.25,12.66 21.25,16.76 m -38.07,4.1 c -6.41,-9.1 -22.1,-5.7 -23.93,6.6 -8.3,0 -12.01,5.5 -13.17,9.8 l 89.87,0 c 1.8,-7.8 -5.7,-24 -20.15,-19.9").long
            path(d="m 80.9,49.29 c -8.5,0 -15,3.75 -19.16,8.09 -2.57,2.71 -4.29,5.4 -5.29,8.04 -7.89,-1.05 -16.38,3.2 -19.32,11.6 -6.95,1.3 -12.2,6 -14.08,12.5 -0.76,2.6 1.21,5.19 3.93,5.19 l 89.92,0 c 1.9,0 3.6,-1.3 4,-3.2 1.5,-11.09 -5.5,-22.1 -15.2,-24.8 C 102.5,54.89 90.2,49.44 80.9,49.29 Z").long.virtual
      



    
  section
    div.sw
      div.cw.tx-c
        h4 Check Out
        h3.mega Our Products
        h5 Fall in Love With Breakfast again

                
  section.bg-contain
    div.sw
      div.cw
        slick(dots="true" infinite="false" speed="300" slides-to-show="4" touch-move="true" slides-to-scroll="1")
          div
            a(target="_blank" href='#/single-product')
              figure(style='background-image: url(images/product-demo.png);').ap11a_14b_18c_12d_12e_12.mb0.ml0
                span.oxy6 Muesli
          div
            a(target="_blank" href='#/single-product')
              figure(style='background-image: url(images/product-demo.png);').ap11a_14b_18c_12d_12e_12.mb0.ml0
                span.oxy6 Muesli
          div
            a(target="_blank" href='#/single-product')
              figure(style='background-image: url(images/product-demo.png);').ap11a_14b_18c_12d_12e_12.mb0.ml0
                span.oxy6 Muesli
          div
            a(target="_blank" href='#/single-product')
              figure(style='background-image: url(images/product-demo.png);').ap11a_14b_18c_12d_12e_12.mb0.ml0
                span.oxy6 Muesli
          div
            a(target="_blank" href='#/single-product')
              figure(style='background-image: url(images/product-demo.png);').ap11a_14b_18c_12d_12e_12.mb0.ml0
                span.oxy6 Muesli
          div
            a(target="_blank" href='#/single-product')
              figure(style='background-image: url(images/product-demo.png);').ap11a_14b_18c_12d_12e_12.mb0.ml0
                span.oxy6 Muesli
              
              
  section.bg-fixed.clear.dark
    div.sw
      span.shadow.oxy.ap11ap_11b313b_313c313c_313d313d_313e313e_313
      div.cw.z2
        //- figure.a12a_12b14b_14c14c_14d14d_14e12e_12

        figure.a11a_12b14b_14c14c_14d14d_14e12e_12.tx-v
          div
            h3.giga Did you know chia is te richest
            h3.giga plant source of omega-3 fatty acids
            h3.giga and contains natural antioxidants.
            //- p
            //-   +lipsum(50, "words")
              

              
              
  section.clear.full
    div.sw
      div.cw
        slick(dots="true" asNavFor=".main-banner" infinite="false" speed="300" slides-to-show="4" touch-move="true" slides-to-scroll="1").main-banner-tabs
          div
            figure(style='border: solid 20px #fff; background-image: url(images/fixed-home.jpg);').ap11a_14b_18c_12d_12e_12.mb0.ml0
              span
          div
            figure(style='border: solid 20px #fff; background-image: url(http://placehold.it/1900x500/cccccc&text=Tab-2);').ap11a_14b_18c_12d_12e_12.mb0.ml0
              span
          div
            figure(style='border: solid 20px #fff; background-image: url(http://placehold.it/1900x500/cccccc&text=Tab-3);').ap11a_14b_18c_12d_12e_12.mb0.ml0
              span
          div
            figure(style='border: solid 20px #fff; background-image: url(http://placehold.it/1900x500/cccccc&text=Tab-4);').ap11a_14b_18c_12d_12e_12.mb0.ml0
              span
          div
            figure(style='border: solid 20px #fff; background-image: url(http://placehold.it/1900x500/cccccc&text=Tab-5);').ap11a_14b_18c_12d_12e_12.mb0.ml0
              span
          div
            figure(style='border: solid 20px #fff; background-image: url(http://placehold.it/1900x500/cccccc&text=Tab-6);').ap11a_14b_18c_12d_12e_12.mb0.ml0
              span
          div
            figure(style='border: solid 20px #fff; background-image: url(http://placehold.it/1900x500/cccccc&text=Tab-7);').ap11a_14b_18c_12d_12e_12.mb0.ml0
              span

        

  //- section.bg-wood
  //-   div.sw
  //-     div.cw
  //-       figure.a12a_12b14b_14c14c_14d14d_14e12e_12.bg10.br100
  //-         span(style='background-image: url(http://placehold.it/350x350/ffffff&text=Muesli);').oxy.ap90ap_90b313b_313c313c_313d313d_313e313e_313.br100
  //-         span.oxy.ap90ap_90b313b_313c313c_313d313d_313e313e_313.br100.shadow
  //-         span.paxyap11ap_11
  //-         h4.oxy Title
  //-       figure.a14a_14b14b_14c14c_14d14d_14e12e_12.bg10
  //-         span(style='background-image: url(http://placehold.it/350x350/333333&text=THUMB);').oxy.a313a_313b313b_313c313c_313d313d_313e313e_313
  //-         span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313
  //-         span.paxyap11ap_11
  //-         h4.oxy6 Title
  //-       figure.a14a_14b14b_14c14c_14d14d_14e12e_12.bg10
  //-         span(style='background-image: url(http://placehold.it/350x350/333333&text=THUMB);').oxy.a313a_313b313b_313c313c_313d313d_313e313e_313
  //-         span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313
  //-         span.paxyap11ap_11
  //-         h4.oxy6 Title
  //-       figure.a14a_14b14b_14c14c_14d14d_14e12e_12.bg10
  //-         span(style='background-image: url(http://placehold.it/350x350/333333&text=THUMB);').oxy.a313a_313b313b_313c313c_313d313d_313e313e_313
  //-         span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313
  //-         span.paxyap11ap_11
  //-         h4.oxy6 Title
  //-       figure.a14a_14b14b_14c14c_14d14d_14e12e_12.bg10
  //-         span(style='background-image: url(http://placehold.it/350x350/333333&text=THUMB);').oxy.a313a_313b313b_313c313c_313d313d_313e313e_313
  //-         span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313
  //-         span.paxyap11ap_11
  //-         h4.oxy Title

  //- section.clear.full
  //-   div.sw
  //-     div.cw
  //-       figure(style='background-image: url(http://placehold.it/1900x500/111111&text=Banner);').ap11a_12b_12c_12d_12e_12.bg100

  //- section.dark.shadow.bg-a
  //-   div.sw
  //-     div.cw
  //-       figure.a13a_13b13b_13c14c_13d13d_13e13e_13
  //-         span(style='background-image: url(http://placehold.it/300x200/999999);').oxy.a310a_310b310b_310c310c_310d310d_310e310e_310
  //-         span.oxy.a310a_310b310b_310c310c_310d310d_310e310e_310
  //-         span.paxyap11ap_11
  //-       figure.a13a_13b13b_13c14c_13d13d_13e13e_13
  //-         span.oxy.a310a_310b310b_310c310c_310d310d_310e310e_310
  //-         span.paxyap11ap_11
  //-       figure.a13a_13b13b_13c14c_13d13d_13e13e_13
  //-         span.oxy.a310a_310b310b_310c310c_310d310d_310e310e_310
  //-         span.paxyap11ap_11

  section
    div.sw
      div.cw
        figure.poxa12b12b_18c12c_18d11d_18poxe11
          h1 Heading 1
          h2 Heading 2
          h3 Heading 3
          h4 Heading 4
          h5 Heading 5
          h6 Heading 6

        figure.poxa12b12b_18c12c_18d11d_18poxe11
          h1.tera Tera
          h1.giga Giga
          h1.mega Mega
          h1.alpha Alpha
          h1.beta Beta
          h1.gamma Gamma
          h1.delta Delta
          h1.epsilon Epsilon
          h1.zeta Zeta

        figure.poxa12poxb12poxc11poxd11poxe11
          p
            +lipsum(100, "words")
          p
            +lipsum(100, "words")

        figure.poxa12poxb12poxc11poxd11poxe11
          p
            +lipsum(100, "words")
          p
            +lipsum(100, "words")



  //- section.dark.shadow
  //-   div.sw
  //-     div.cw
  //-       figure.a14a_18b14b_18c14c_18d14d_18e12e_12
  //-         p
  //-           +lipsum(8, "words")
  //-         span.paxyap11ap_11
  //-       figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2
  //-         span.paxyap11ap_11
  //-       figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2
  //-         span.paxyap11ap_11
  //-       figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2
  //-         span.paxyap11ap_11
