//- div.header
//-   ul.nav.nav-pills.pull-right
//-     li.active
//-       a(ng-href="#") Home
//-     li
//-       a(ng-href="#") About
//-     li
//-       a(ng-href="#") Contact
//-   h3.text-muted SANDBOX

- var n = 0

section
  div.site-width
    div.copy-width
      while n < 12
        figure.a_14a14b_13b13c_13= n++


section
  div.site-width
    div.copy-width
      figure.a_14a14.b_13b13.c_13 box 1
      figure.a_14a14.b_13b13.c_13 box 2
      figure.a_14a14.b_13b13.c_13 box 2
      figure.a_14a14.b_13b13.c_13.mr0 box 3


section
  div.site-width
    div.copy-width
      h4 HTML5 Boilerplate
      p HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.


section
  div.site-width
    div.copy-width
      figure.a_14a14.b_13b13.c_13 box 1
      figure.a_14a14.b_13b13.c_13 box 2
      figure.a_14a14.b_13b13.c_13 box 2
      figure.a_14a14.b_13b13.c_13.mr0 box 3


div.footer
  p
    span.glyphicon.glyphicon-heart
    |  from the Yeoman team
