//- section.pfxy.red.a14b14c14d14.hide
//-   div.sw
//-     div.a14b14
//-       figure.a118a_118
header.pfxy.z6
  section.clear
    div.sw
      div.cw
        figure.paxya18a_19.qaxyb18b_110.c_116.e16e_18.red.mb0
        figure.qoxya11a_117.poxyb12b_110.c_116.mb0
        figure.qoxya12a_114.poxyb12b_110.c_116.mb0
          a.poxy.ap14ap_11.red button 1
          a.poxy.ap14ap_11.red button 2
          a.poxy.ap14ap_11.red button 3
          a.poxy.ap14ap_11.red button 4
          
section.clear
  div.sw
    div.cw.a_110
        
#meat
  section.full
    div.sw
      div.cw0
        figure.a_12b_12c_12d_12e_12
          
  section
    div.sw
      div.cw
        figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2
        figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2
        figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2
        figure.a14a_18b14b_18c14c_18d14d_18e12e_12 1/2

  section
    div.sw
      div.cw
        figure.a14a_14b14b_14c14c_14d14d_14e12e_12 1/2
        figure.a14a_14b14b_14c14c_14d14d_14e12e_12 1/2
        figure.a14a_14b14b_14c14c_14d14d_14e12e_12 1/2
        figure.a14a_14b14b_14c14c_14d14d_14e12e_12 1/2


  section
    div.sw
      div.cw
        figure.a14a_118b14b_118c14c_118d14d_118e11e_18 1/2
        figure.a14a_118b14b_118c14c_118d14d_118e11e_18 1/2
        figure.a14a_118b14b_118c14c_118d14d_118e11e_18 1/2
        figure.a14a_118b14b_118c14c_118d14d_118e11e_18 1/2


footer
  section
    div.sw
      div.cw
        figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
        figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
        figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
        figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2

  section
    div.sw
      div.cw
        figure.a11b11c11d11e11e_18
