section.pfxy.red.a14b14c14d14
  div.sw
    div.a14b14
      figure.a118a_118


section
  div.sw
    div.cw
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2
      figure.a14a_14b14b_14c14c_14d14d_14e14e_14 1/2


section
  div.sw
    div.cw0
      figure
        h4 HTML5 Boilerplate
        p HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
