include mixins/mixin-lorem-ipsum.jade
include mixins/placeholder-image.jade

#meat  
  section
    div.sw
      div.cw.tx-c
        h3.mega Our Products
        
        
  section
    div.sw
      div.cw.tx-c
        h3.mega Muesli
                
  section.bg-contain.light
    div.sw
      div.cw
        slick(dots="true" infinite="false" speed="300" slides-to-show="5" touch-move="true" slides-to-scroll="1")
          div
            a(target="_blank" href='#/single-product')
              figure(style='background-image: url(images/product-demo.png);').ap11a_14b_18c_12d_12e_12.mb0.ml0
                span.oxy6 Blueberry Chia Buckwheat
          div
            a(target="_blank" href='#/single-product')
              figure(style='background-image: url(images/product-red.png);').ap11a_14b_18c_12d_12e_12.mb0.ml0
                span.oxy6 Vanilla Cherry Pecan
          div
            a(target="_blank" href='#/single-product')
              figure(style='background-image: url(images/product-blue.png);').ap11a_14b_18c_12d_12e_12.mb0.ml0
                span.oxy6 Original Toasted Muesli
          div
            a(target="_blank" href='#/single-product')
              figure(style='background-image: url(images/product-green.png);').ap11a_14b_18c_12d_12e_12.mb0.ml0
                span.oxy6 Ginger Pear Macadamia
          div
            a(target="_blank" href='#/single-product')
              figure(style='background-image: url(images/product-brown.png);').ap11a_14b_18c_12d_12e_12.mb0.ml0
                span.oxy6 Bircher (unsweetened)
              
              
          
    
