include mixins/mixin-lorem-ipsum.jade
include mixins/placeholder-image.jade

#meat 
  section.dark.bg-a.bg-contain
    div.sw
      div.cw 
      
  section(style='background-image: url(images/product-banner-mask.png);').dark.bg-a.bg-contain.banner-mask
    span.shadow.oxy.ap11ap_11b313b_313c313c_313d313d_313e313e_313
    div.sw.z2
      
      div.cw
        figure(style='background-image: url(images/product-demo.png);').a12a_12b12b_12
        figure.a12a_12b12b_12.mt1
          h1.beta Blueberry chia buckwheat
          h2.tera Muesli
          
          p
            +lipsum(50, "words")
            
          div.mt1.light.txc
            figure.ap14.ml0
              span(style='background-image: url(http://placehold.it/50x50/333333&text=icon);').poxy.mb4.ap11a_116.br100
              h4.beta no
              h5 Refined sugar
            figure.ap14.ml0
              span(style='background-image: url(http://placehold.it/50x50/333333&text=icon);').poxy.mb4.ap11a_116.br100
              h4.beta All Natural
              h5 NO GMOs
            figure.ap14.ml0
              span(style='background-image: url(http://placehold.it/50x50/333333&text=icon);').poxy.mb4.ap11a_116.br100
              h4.beta Protein
              h5 7 GRAMS
            figure.ap14.ml0
              span(style='background-image: url(http://placehold.it/50x50/333333&text=icon);').poxy.mb4.ap11a_116.br100
              h4.beta Fiber
              h5 5 Grams
              
              
  section.bg-contain.tx-c
    div.sw
      div.cw
        figure.a12a_14
          span.oxy 
            span(style='background-image: url(images/icon-12oz.png);').poxy.mb4.a16a_16.dark
              h3.beta.oxy 12<sup>oz</sup>
            h2 Large
            h5 Click here for information
            
        figure.a12a_14
          span.oxy 
            span(style='background-image: url(images/icon-2oz.png);').poxy.mb4.a16a_16.dark
              h3.beta.oxy 2<sup>oz</sup>
            h2 Small
            h5 Click here for information
  
  
  
  section(style='background-image: url(images/muesli.jpg);')
    div.sw
      div.cw        
        figure.a11a_15
          
  section.bg-wood
    div.sw
      div.cw
        //- figure.a12a_12b14b_14c14c_14d14d_14e12e_12.tx-v
        //-   div
        //-     h3.mega Features
        //-     p
        //-       +lipsum(50, "words")
        figure.a12a_12b14b_14c14c_14d14d_14e12e_12.tx-v
          figure.a14a_14b14b_14c14c_14d14d_14e12e_12.bg10.br100.ml0
            span(style='background-image: url(images/muesli.jpg);').oxy.a313a_313b313b_313c313c_313d313d_313e313e_313.br100
            span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313
            span.paxyap11ap_11
            h4.alpha.oxy Title
          figure.a14a_14b14b_14c14c_14d14d_14e12e_12.bg10.br100.ml0
            span(style='background-image: url(images/muesli.jpg);').oxy.a313a_313b313b_313c313c_313d313d_313e313e_313.br100
            span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313.br100
            span.paxyap11ap_11
            h4.alpha.oxy Title
          figure.a14a_14b14b_14c14c_14d14d_14e12e_12.bg10.br100.ml0
            span(style='background-image: url(images/muesli.jpg);').oxy.a313a_313b313b_313c313c_313d313d_313e313e_313.br100
            span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313.br100
            span.paxyap11ap_11
            h4.alpha.oxy Title
          figure.a14a_14b14b_14c14c_14d14d_14e12e_12.bg10.br100.ml0
            span(style='background-image: url(images/muesli.jpg);').oxy.a313a_313b313b_313c313c_313d313d_313e313e_313.br100
            span.oxy.a313a_313b313b_313c313c_313d313d_313e313e_313.br100
            span.paxyap11ap_11
            h4.alpha.oxy Title
            
              
        figure.a12a_12b14b_14c14c_14d14d_14e12e_12.bg10.br100
          span(style='background-image: url(images/muesli.jpg);').oxy.ap90ap_90b313b_313c313c_313d313d_313e313e_313.br100
          span.oxy.ap90ap_90b313b_313c313c_313d313d_313e313e_313.br100
          span.paxyap11ap_11
          
  section
    div.sw
      div.cw.tx-c
        figure.a11
          h2 How To Eat Muesli
        figure.poxa13a_13b13b_13c14c_13d13d_13e13e_13
          h4.beta Cold
          p.tx-l Pour muesil into a bowl. Add milk, yogurt and/or fruit juice. Enjoy immediately.
          
        figure.poxa13a_13b13b_13c14c_13d13d_13e13e_13
          h4.beta Hot
          p.tx-l Mix equal parts muesli and water. STOVETOP: Bring to a boil and reduce heat, cook for 3 minutes. MICROWAVE: Cook for 3 minutes on high; stir halfway through.
          
        figure.poxa13a_13b13b_13c14c_13d13d_13e13e_13
          h4.beta soaked
          p.tx-l Cover 1/2 cup muesli with 1/3 cup milk or yogurt. Refrigerate 15 minutes up to overnight. Serve with freah fruit and yogurt.
          
          
  section
    div.sw
      div.cw.tx-c
        h4 Check Out
        h3.mega Our Other Flavors
          
  section.bg-contain
    div.sw
      div.cw
        slick(dots="true" infinite="false" speed="300" slides-to-show="5" touch-move="true" slides-to-scroll="1")
          div
            a(target="_blank" href='#/single-product')
              figure(style='background-image: url(images/product-demo.png);').ap11a_14b_18c_12d_12e_12.mb0.ml0
                span.oxy6 Muesli
          div
            a(target="_blank" href='#/single-product')
              figure(style='background-image: url(images/product-red.png);').ap11a_14b_18c_12d_12e_12.mb0.ml0
                span.oxy6 Muesli
          div
            a(target="_blank" href='#/single-product')
              figure(style='background-image: url(images/product-blue.png);').ap11a_14b_18c_12d_12e_12.mb0.ml0
                span.oxy6 Muesli
          div
            a(target="_blank" href='#/single-product')
              figure(style='background-image: url(images/product-green.png);').ap11a_14b_18c_12d_12e_12.mb0.ml0
                span.oxy6 Muesli
          div
            a(target="_blank" href='#/single-product')
              figure(style='background-image: url(images/product-brown.png);').ap11a_14b_18c_12d_12e_12.mb0.ml0
                span.oxy6 Muesli
          
